{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% for post in posts %}
    {% if post.status == 1 %}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <small>{{post.published_time}}</small>
    {% else %}
    <p>{{post.title}} is Published</p>
    {% endif %}
    {% endfor %}
    <p>The Number Of Published Posts are :{%totalposts%}</p>


</body>

</html>